<table class="table">
  <thead class="thead-light">
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Название книги</th>
    <th scope="col">Автор</th>
    <th scope="col">Жанр</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let book of books; let i = index" [attr.data-index]="i">
    <th scope="row">{{i}}</th>
    <td>{{book.name}}</td>
    <td>{{book.author}}</td>
    <td>{{book.genre}}</td>
    <td><button type="button" class="btn btn-outline-secondary btn-sm">
      <img src="/open-iconic/svg/pencil.svg" class="rounded float-left" alt="..." width="15" height="15"> </button>
      <button type="button" class="btn btn-outline-secondary btn-sm">
        <img src="images\delete.png" class="rounded float-left" alt="..." width="15" height="15"> </button>
    </td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Преступление и наказание</td>
    <td>Достоевский Ф.М.</td>
    <td>роман</td>
    <td><button type="button" class="btn btn-outline-secondary btn-sm">
      <img src="/open-iconic/svg/pencil.svg" class="rounded float-left" alt="..." width="15" height="15"> </button>
      <button type="button" class="btn btn-outline-secondary btn-sm">
        <img src="images\delete.png" class="rounded float-left" alt="..." width="15" height="15"> </button>
    </td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td>Отцы и Дети</td>
    <td>Тургенев И.С.</td>
    <td>роман</td>
    <td><button type="button" class="btn btn-outline-secondary btn-sm">
      <img src="/open-iconic/svg/pencil.svg" class="rounded float-left" alt="..." width="15" height="15"> </button>
      <button type="button" class="btn btn-outline-secondary btn-sm">
        <img src="images\delete.png" class="rounded float-left" alt="..." width="15" height="15"> </button>
    </td>
  </tbody>
</table>
